---
page_title: "cidr function - terraform-provider-validatefx"
subcategory: ""
description: |-
  Validate that a string is a valid IPv4 or IPv6 CIDR block.
---

# function: cidr

Validate that a string is a valid IPv4 or IPv6 CIDR block.

## Example Usage

```terraform
locals {
  networks = [
    "10.0.0.0/24",
    "2001:db8::/48",
  ]

  valid_networks = [
    for cidr in local.networks : {
      value = cidr
      valid = provider::validatefx::cidr(cidr)
    }
  ]
}
```

{{ template "signature" . }}
{{ template "arguments" . }}

